* {
    margin: 0;
}
.hidden {
    display: none;
}
.feedback {
    width: 320px;
    height: 100%;
    background: #FFF;
    padding: 24px 16px;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 99;
    opacity: 1;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}
.feedback__header {
    margin-bottom: 29px;
    display: flex;
}
.icon__close {
    width: 40px;
    height: 40px;
    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    margin-right: auto;
}
.feedback__title {
    color: #1B1C21;
    font-family: 'TT Lakes Bold';
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-bottom: 24px;
}
.feedback__title::before {
    content: "";
    display: inline-block;
    margin-left: -16px;
    margin-right: 12px;
    width: 4px;
    height: 40px;
    background-image: url('../img/highlight.svg');
    background-repeat: no-repeat;
    vertical-align: bottom;
}
.feedback__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.input {
    /* width: 288px; */
    /* height: 48px;
    flex-shrink: 0; */
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    color: #B5B6BC;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}
.input:focus {
    outline-color: #1B1C21;
}
.textarea:focus {
    outline-color: #1B1C21;
}
.textarea {
    /* width: 288px; */
    height: 118px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    color: #B5B6BC;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}
.agreement {
    color: #7E7E82;
    font-family: 'TT Lakes Medium';
    font-size: 14px;
    line-height: 16px;
}
.link {
    color: #FF3E79;
}
.send {
    width: 136px;
    height: 32px;
    border-radius: 16px;
    background: #FF3E79;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: auto;
}
.send__text {
    color: #FFF;
    text-align: right;
    font-family: 'TT Lakes Bold';
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
}
.send__arrow {
    width: 27.429px;
    height: 24px;
    background-image: url('../img/goside.svg');
    background-repeat: no-repeat;
    margin-left: 2px;
}
@media (min-width: 1440px) {
    .wrapper-feedback {
        opacity: 0.9605;
        background: #FFF;
    }
    .feedback {
        box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
        height: 100%;
        width: 440px;
    }
    .feedback__header {
        position: absolute;
    }
    .icon__close {
        margin-left: -89px;
    }
}
