*{
    margin: 0;
}
.body__container{
    margin: 0 auto;
}
.body__header {
    display: flex;
    box-sizing: border-box;
    background: #FFF;
    height: 88px;
    padding: 24px 16px;
    align-items: center;
}
.icon {
    width: 40px;
    height: 40px;
}
.header__icon {
    margin-right: 16px;
}
.header__icon:last-child {
    margin-right: 0;
}
.icon__burger {
    background-image: url('../img/burger.svg');
}
.icon__repair {
    background-image: url('../img/repair.svg');
}
.icon__status {
    background-image: url('../img/checkstatus.svg');
}
.header__logo {
    width: 96.548px;
    height: 50.815px;
    margin-right: auto;
}
.icon--hidden {
    display: none;
}
.header__space {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #EAEAEA;
    margin-left: 4px;
    margin-right: 20px ;
}
.page {
    box-sizing: border-box;
    padding: 24px 16px;
    background-color: #F8F8F8;
}
.title-block {
    display: flex;
}
.page__t-block {
    margin-left: -16px;
}
.title-block__streak {
    background-image: url('../img/highlight.svg');
    background-size: 4px 40px;
    background-repeat: no-repeat;
}
.title-block__h1 {
    color: #1B1C21;
    font-size: 28px;
    font-family: 'TT Lakes Bold';
    line-height: 40px;
}
.title-block__h1 {
    margin-left: 12px;
}
.page__icon {
    display: none;
}
.menu {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}
.menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.menu__button {
    box-sizing: border-box;
    padding: 8px 9.3px 8px 16.54px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 19.56px;
    margin-left: 0;
    height: 40px;
    border-radius: 0px;
    border: 0px;
    background: #F8F8F8;
    white-space: nowrap;
    font-size: 16px;
    color: #7E7E82;
    font-family: 'TT Lakes Medium';
    line-height: 24px;
}
.active-button {
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background: #FFF;
}
.info__text {
    color: #1B1C21;
    font-size: 14px;
    font-family: 'TT Lakes Regular';
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 0;
}
.info__next {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
    background-image: url('../img/expand.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 0% 0%;
}
.info__link {
    margin-left: 32px;
}
.link-read  {
    font-family: 'TT Lakes Medium';
    line-height: 24px;
    font-size: 16px;
    color: #1B1C21;
}
.main-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
}
.page__image {
    margin-left: auto;
    margin-right: auto;
}
.hidden-page-m {
    display: none;
}

@media (min-width: 768px) {

    .body__header {
        padding: 24px;
    }
    .icon--hidden {
        display: block;
    }
    .icon__profile {
        background-image: url('../img/profile.svg');
    }
    .icon__chat{
        background-image: url('../img/chat.svg');
    }
    .icon__call {
        background-image: url('../img/call.svg');
    }
    .page {
        padding: 24px 40px 14px 24px;
    }
    .page__title {
        margin: 0;
    }
    .page__icon {
        display: none;
    }
    .page__info {
      margin-right: 48px;
    }
    .title-block__h1 {
        letter-spacing: -0.6px;
        margin-left: 20px;
    }
    .page__t-block {
        margin-left: -24px;
    }
    .menu__button {
        padding: 8px 9.38px 8px 16.67px;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-right: 25px;
    }
    .page__article {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }
    .page__info {
        display: block;
        margin: 0;
        padding: 0;
        width: 48%;
    }
    .info__text {
        margin-bottom: 10px;
    }
    .info__next {
        margin-left: 1px;
    }
    .link-read {
        font-family: 'TT Lakes Medium';
        line-height: 24px;
        font-size: 16px;
        color: #1B1C21;
    }
    .info__link {
        margin-left: 32px;
    }
    .main-image {
        width: 48%;
    }
}

@media (min-width: 1120px) {
    .body__container {
        background: #F8F8F8;
    }
    .menu {
        justify-content: space-between;
    }
}
@media (min-width: 1440px) {
    .page__title {
        display: flex;
    }
    .page__info {
      margin-right: 36px;
    }
    .icon__repair {
        background-image: url('../img/repair.svg');
    }
    .icon__status {
        background-image: url('../img/checkstatus.svg');
    }
    .page__t-block {
        margin-right: auto;
    }
    .title-block__streak {
        background-size: 3px 40px;
    }
    .title-block__h1 {
        letter-spacing: -0.6px;
        margin-left: 30px;
    }
    .page__menu {
        margin-top: 20px;
        margin-bottom: 19.5px;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
    }
    .active-button {
        border: 0;
        background: #F8F8F8;
    }
    .menu__button {
        margin: 0;
        margin-bottom: 5px;
    }
    .menu__button:last-child {
        padding-left: 22.64px;
    }
  .active-button--page-l {
      border-radius: 6px;
      border: 2px solid #B8FFEC;
      background: #FFF;
      padding: 8.63px 21.7px 7.37px 22.64px;
  }
  .hidden-page-m {
      display: block;
  }
  .hidden-page-l {
      display: none;
  }
  .page__t-block {
      margin-left: -33px;
  }
  .body__header {
      display: none;
  }
  .page {
      box-sizing: border-box;
      padding: 42px 32px;
  }
  .page__icon {
      width: 175px;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-right: 32px;
      font-size: 16px;
      color: #1B1C21;
      font-family: 'TT Lakes Medium';
      line-height: 24px;
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: 40px 40px;
  }
  .page__icon:last-child {
      margin-right: 0;
  }
  }
