* {
    margin: 0;
}
.aside-body {
    opacity: 1;
    background: #FFF;
    display: flex;
    flex-direction: column;
}
.aside-container {
    background: #FFF;
    display: flex;
}
.aside-body__container {
    padding: 23px 24px 32px 24px;
    width: 320px;
    box-sizing: border-box;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}
.aside-body--opacity0 {
    display: none;
}
.aside-body--opacity1{
    z-index: 99;
    opacity: 0.9605;
}
.wrapper {
    padding: 0;
}
.aside-header {
    box-sizing: border-box;
    background: #FFF;
    height: 51px;
    padding: 0;
}
.wrapper__header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.wrapper__menu {
    list-style: none;
    padding: 0;
    margin-bottom: 240px;
}
.aside-menu__item {
    margin-bottom: 32px;
}
.aside-menu__item:last-child {
    margin-bottom: 0;
}
.aside-menu__current-item--medium {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    margin-left: -24px;
}
.aside-menu__current-item--medium .aside-menu__link::before {
    content: "";
    background-image: url('../img/highlight.svg');
    background-size: 3px 24px;
    background-repeat: no-repeat;
    width: 3px;
    height: 24px;
    margin-left: -24px;
    position: absolute;
    transform: scaleY(1.33) scaleX(1.33);
}
.aside-menu__current-item--medium .aside-menu__link {
    color: #7E7E82;
    margin-left: 24px;
}

.aside-menu__link {
    color: #1B1C21;
    text-decoration: none;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
}
.aside-menu__item:not(.aside-menu__current-item--medium) .aside-menu__link:hover {
    text-decoration: underline;
}
.icon {
    height: 40px;
    opacity: 0.9;
    transition: opacity 1.5s, transform 2s;
}
.icon:hover {
    opacity: 1;
    transform: scale(1.2);
}
.aside-header__logo {
    width: 96.548px;
    height: 50.815px;
    margin-right: auto;
}
.aside-header__icon:first-child {
    margin-right: 17px;
}
.icon_close {
    background-image: url('../img/close.svg');
}
.icon__search {
    background-image: url('../img/search.svg');
}
.contacts__sprites {
    display: flex;
    margin-bottom: 16px;
}
.sprites__icon {
    margin-right: 16px;
}
.sprites__icon:last-child {
    margin-right: auto;
}
.contacts__mailto {
    margin-bottom: 12px;
}
.e-mail {
    text-decoration: none;
    color: #1B1C21;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
}
.mailto>a:hover {
    text-decoration: underline;
}
.telephone>a:hover {
    text-decoration: underline;
}
.contacts__telephone {
    margin-bottom: 40px;
}
.phone-number {
    text-decoration: none;
    color: #1B1C21;
    font-family: 'TT Lakes Bold';
    font-size: 24px;
    line-height: 32px;
}
.languages__item {
    display: inline-block;
}
.languages {
    list-style: none;
    padding: 0;
}
.active .languages__link{
    color: #7E7E82;
}
.languages__link {
    color: #1B1C21;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.languages__item:not(.active) .languages__link:hover {
    text-decoration: underline;
}
@media (min-width: 1440px) {
    .aside-body__container {
        opacity: 1;
        position: relative;
        display: flex;
        height: auto;
        box-shadow: none;
    }
    .icon_close {
        display: none;
    }
    .wrapper {
        width: 253px;
    }
    .wrapper__header {
        margin-bottom: 37px;
    }
    .aside-menu__item {
        margin-bottom: 28px;
    }
    .aside-menu__current-item--medium .aside-menu__link::before {
        display: none;
    }
    .aside-menu__current-item--medium .aside-menu__link{
        color: #1B1C21;
    }
    .aside-menu__current-item--large {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        margin-left: -24px;
    }
    .aside-menu__current-item--large .aside-menu__link::before {
        content: "";
        background-image: url('../img/highlight.svg');
        background-size: 3px 24px;
        background-repeat: no-repeat;
        width: 3px;
        height: 24px;
        margin-left: -24px;
        position: absolute;
        transform: scaleY(1.33) scaleX(1.33);
    }
    .aside-menu__current-item--large .aside-menu__link {
        color: #7E7E82;
        margin-left: 24px;
    }
    .aside-menu__item:not(.aside-menu__current-item--large) .aside-menu__link:hover {
        text-decoration: underline;
    }
}
