*{
    margin: 0;
}
.body__container {
    /* height: 234px; */
    box-sizing: border-box;
}
.header {
    height: 80px;
    padding: 16px;
    box-sizing: border-box;
}
.title {
    color: #7E7E82;
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}
.main {
    padding: 16px;
    box-sizing: border-box;
    background-color: #F8F8F8;
}
.swiper-container {
	overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;
}
.swiper-wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
    white-space: nowrap;
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slide {
    background-position: 0% 0%;
    background-repeat: no-repeat;
    width: 168px;
    height: 40px;
}
.lenovo {
    background-image: url('../img/lenovo.jpg');
    background-size: 108px 32px;
    background-position: 0 center;
}
.samsung {
    background-image: url('../img/samsung.jpg');
    background-size: 116px 38.5px;
}
.sony {
    background-image: url('../img/sony.jpg');
    background-size: 128px 25.6px;
    background-position: 0 center;
}
.viewsonic {
    background-image: url('../img/viewsonic.jpg');
    background-size: 128px 21px;
    background-position: 0 center;
}
.hp {
    background-image: url('../img/hp.jpg');
    /* background-size: 52px 52px; */
    background-size: 40px 40px;
    transform: scale(1.3) translateX(13px);
}
.apple {
    background-image: url('../img/apple.jpg');
    background-size: 40px 40px;
    transform: scale(1.1) translateX(4px);
}
.acer {
    background-image: url('../img/acer.jpg');
    background-size: 94px 24px;
    background-position: 0 center;
}
.bosch {
    background-image: url('../img/bosch.jpg');
    background-size: 128px 28.6px;
    background-position: 0 center;
}
.icon__go {
    background-image: url('../img/go.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
.slide__icon {
    margin-left: auto;
}
.swiper-pagination {
    display: flex;
	justify-content: center;
}
.swiper-container__pagination {
    margin-top: 16px;
    margin-bottom: 22px;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
	background-color: #ddd;
}
.swiper-pagination-bullet-active {
	background: #B5B6BC;
}
.show-all {
    display: none;
}

@media (min-width: 768px) {
.header {
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
}
.header__title {
    margin-right: auto;
}
.main {
    padding: 24px;
}
.swiper-pagination {
    display: none;
}
.swiper-wrapper {
    flex-wrap: wrap;
    /* height: 166px; */
    row-gap: 16px;
    column-gap: calc(24px+3.58vw);
    /* gap: 16px 24px; */
    justify-content: space-between!important;
}
.swiper-wrapper::after {
    content: "";
    width: 224px;
    height: 72px;
}
.swiper-wrapper_full-height {
    height: 100%;
}
.swiper-slide {
    width: 224px!important;
    height: 72px;
}
.slide {
    width: 150px;
}
.show-all {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
}
.show-all__link {
    color: #1B1C21;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-left: 8px;
}
.arrow {
    background-image: url('../img/expand.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 0% 0%;
    width: 24px;
    height: 24px;
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
}
.transform{
    /* transform: rotate(-180deg); */
    transform: scaleY(-1);
}
}
@media (min-width: 1120px) {
.swiper-wrapper {
    gap: 16px 32px;
}
.swiper-slide {
    width: 240px!important;
}
.swiper-wrapper::after {
    width: 240px;
}
}
