*{
    margin: 0;
}
.body__content--opacity0 {
  opacity: 0.04;

}
.body__content--fixed {
 position: fixed;
}
.body__content--opacity1 {
  opacity: 1;
  /* position: fixed; */
}
/*Ремонт различных видов брендов */
.body__container0 {
    /* height: 234px; */
    box-sizing: border-box;
}
.brands__header {
    /* height: 80px; */
    padding: 16px;
    box-sizing: border-box;
}
.title-h2 {
    color: #7E7E82;
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}
.main {
    background-color: #F8F8F8;
}
.swiper-container {
    background-color: #F8F8F8;
}
.pre-commerce {
    background-color: #F8F8F8;
}
/* .swiper-container {
overflow-x: hidden;
overflow-y: hidden;
scrollbar-width: none;
} */
.swiper-wrapper {
    display: flex;
    /* align-items: center;  */
    column-gap: 16px;
}
.brands__swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    white-space: nowrap;
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brands__slide {
    background-position: 0% 0%;
    background-repeat: no-repeat;
    width: 168px;
    height: 40px;
}
.lenovo {
    background-image: url('../img/lenovo.jpg');
    background-size: 108px 32px;
    background-position: 0 center;
}
.samsung {
    background-image: url('../img/samsung.jpg');
    background-size: 116px 38.5px;
}
.sony {
    background-image: url('../img/sony.jpg');
    background-size: 128px 25.6px;
    background-position: 0 center;
}
.viewsonic {
    background-image: url('../img/viewsonic.jpg');
    background-size: 128px 21px;
    background-position: 0 center;
}
.hp {
    background-image: url('../img/hp.jpg');
    /* background-size: 52px 52px; */
    background-size: 40px 40px;
    transform: scale(1.3) translateX(13px);
}
.apple {
    background-image: url('../img/apple.jpg');
    background-size: 40px 40px;
    transform: scale(1.1) translateX(4px);
}
.acer {
    background-image: url('../img/acer.jpg');
    background-size: 94px 24px;
    background-position: 0 center;
}
.bosch {
    background-image: url('../img/bosch.jpg');
    background-size: 128px 28.6px;
    background-position: 0 center;
}
.icon-go {
    background-image: url('../img/go.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
.slide__icon {
    margin-left: auto;
}
.swiper-pagination {
    display: flex;
    justify-content: center;
}
.swiper-container__pagination {
    margin-top: 16px;
    margin-bottom: 22px;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #ddd;
}
.swiper-pagination-bullet-active {
    background: #B5B6BC;
}
.brands__show-all {
    display: none;
}

/*Ремонт различных видов техники */
.body__container1 {
    /* height: 234px; */
    box-sizing: border-box;
}
.repair__header {
    padding: 16px;
    box-sizing: border-box;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFF 100%);
}
.title-h2 {
    color: #7E7E82;
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}
.main {
    /* padding: 16px; */
    box-sizing: border-box;
    background-color: #F8F8F8;
}
.swiper-container {
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;
    padding: 16px;
}
.repair__wrapper {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.repair__wrapper {
    width: 240px!important;
    height: 160px;
    white-space: nowrap;
}
.repair__slide {
    background-position: 0% 0%;
    background-repeat: no-repeat;
    width: 168px;
    height: 40px;
}
.icon-go {
    background-image: url('../img/go.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
.swiper-pagination {
    display: flex;
    justify-content: center;
}
.swiper-container__pagination {
    margin-top: 16px;
    margin-bottom: 22px;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #ddd;
}
.swiper-pagination-bullet-active {
    background: #B5B6BC;
}
.repair__show-all {
    display: none;
}
/*Цена на услуги*/
.price__header {
    background: linear-gradient(270deg, #F8F8F8 0%, #FFF 100%);
    padding: 16px;
}
.price__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;

    border-radius: 6px;
    width: 260px;
    height: 200px;
}
.price__wrapper--color{
    background-color: #FFF;
}

.price__swiper-slide {
    margin-right: 16px;
}
.price__swiper-slide:last-child {
    margin-right: 0;
}
/*
.type::before {
content:"Ремонтные услуги";
color: #7E7E82;
font-family: 'TT Lakes Medium';
font-size: 14px;
line-height: 16px;
opacity: 0.7218;
}
.price::before {
content:"Цена";
color: #7E7E82;
font-family: 'TT Lakes Medium';
font-size: 14px;
line-height: 16px;
opacity: 0.7218;
}
.time::before {
content:"Срок";
color: #7E7E82;
font-family: 'TT Lakes Medium';
font-size: 14px;
line-height: 16px;
opacity: 0.7218;
} */

/* .price__slide span {
color: #1B1C21;
font-family: 'TT Lakes Regular';
font-size: 14px;
line-height: 18px;
letter-spacing: 0.2px;
} */
.to-order {
    width: 119px;
    height: 32px;
    border-radius: 16px;
    border: none;
    background: #FF3E79;
    box-sizing: border-box;
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
}
.price__to-order {
    margin-top: auto;
    /* margin-left: auto; */
    /* margin-right: 16px; */
    /* display: flex; */
    /* column-gap: 8px; */
}
.inbl {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: 'TT Lakes Bold';
    font-size: 12px;
    line-height: 24px; /* 200% */
    letter-spacing: -0.15px;
    text-transform: uppercase;
}
.after {
    /* content: ""; */
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/goside.svg');
    background-repeat: no-repeat;
    /* background-position: 0 0; */
    vertical-align: middle;
}
.to-order__after {
    margin-left: 8px;
}
.price__catalog {
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    row-gap: 16px;
}
.catalog__el{
    list-style-type: none;
    color: #1B1C21;
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}
.catalog__el:first-child::before {
    content: "Ремонтные услуги";
}
.catalog__el:nth-child(2)::before {
    content: "Цена";
}
.last-li::before {
    content: "Срок";
    display: block;
    color: #7E7E82;
    font-family: 'TT Lakes Medium';
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7218;
}
.last-li{
    display: flex;
    flex-direction: column;
}
.catalog__el::before {
    display: block;
    color: #7E7E82;
    font-family: 'TT Lakes Medium';
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7218;
    margin-bottom: 6px;
}
.catalog__last-block {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
}
.pre-commerce {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 40px;
}
.commerce__text {
    padding-bottom: 16px;
}
.pre-commerce p {
    color: #1B1C21;
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.commerce {
    border: none;
    background-color: transparent;
    padding: 0%;
    /* display: flex; */
    width: 192px;
    height: 54.982px;
}
.commerce__button {
    color: #1B1C21;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    display: inline-block;
}
.more {
    width: 24px;
    height: 27.491px;
    background-image: url('../img/more.svg');
    display: inline-block;
    vertical-align: middle;
}
.footer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-top: 16px;
    padding-bottom: 19px;
    background-color: #F8F8F8;
}
.footer__text {
    text-align: center;
    color: #7E7E82;
    font-family: 'TT Lakes Medium';
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7218;
}
.footer__link {
    text-decoration: none;
    color: #7E7E82;
}
.swiper-slide--hidden {
    display: none;
}
@media (min-width: 768px) {

    .menu-opacity1 {
        opacity: 1;
    }
    .menu-opacity0 {
        opacity: 0.04;
    }
    .brands__header {
        background: linear-gradient(90deg, #F8F8F8 0%, #FFF 100%);
        height: auto;
    }
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 24px;
    }
    .header__title {
        margin-right: auto;
    }
    .main {
        padding: 24px;
    }
    .swiper-pagination {
        display: none;
    }
    .brands__swiper-wrapper::after {
        content: "";
        width: 224px;
        height: 72px;
    }
    .brands__swiper-wrapper:last-child {
        margin-right: auto;
    }
    .swiper-wrapper_full-height {
        height: 100%;
    }
    .brands__swiper-slide {
        width: 224px!important;
        height: 72px;
    }
    .brands__slide {
        width: 150px;
    }
    .repair__swiper-slide {
        width: 224px!important;
        height: 160px;
    }
    .repair__slide {
        width: 150px;
    }
    .brands__show-all, .repair__show-all {
        display: flex;
        align-items: center;
        /* margin-bottom: 10px; */
        margin-top: 24px;
        border: none;
        background-color: transparent;
        padding: 0;
    }
    .brands__button {
        padding-bottom: 32px;
    }
    .repair__button {
        padding-bottom: 32px;
        padding-left: 24px;
    }
    .brands__button {
        padding-left: 24px;
    }
    .repair__body, .repair__show-all, .repair__button, .brands__button, .brands__body, .body__container2 {
        background-color: #F8F8F8;
    }
    .brands__swiper-wrapper {
        flex-wrap: wrap;
        row-gap: 16px;
        /* column-gap: calc(24px+3.58vw); */
        gap: 16px 24px;
        justify-content: space-between!important;
    }
    .brands__swiper-wrapper--fixes-size {
        height: 160px;
    }
    .repair__swiper-wrapper {
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 24px;
        /* gap: 16px 24px; */
        justify-content: space-between!important;
    }
    .repair__swiper-wrapper--fixes-size {
        height: 150px;
    }
    .repair__show-all__link, .brands__show-all__link {
        color: #1B1C21;
        font-family: 'TT Lakes Medium';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-left: 8px;
    }
    .swiper-slide--hidden {
        display: flex;
        background-color: #F8F8F8;
    }
    .price__catalog {
        display: flex;
        flex-direction: row;
    }
    .catalog {
        /* flex-grow: 1; */

    }
    .price__catalog li {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .catalog__el::before, .last-li::before {
        display: none;
    }
    .price__catalog li:first-child {
        width: 372px;
    }
    .price__catalog li:nth-child(2) {
        width: 80px;
    }
    .catalog__header {
        color: #7E7E82;
        font-family: 'TT Lakes Medium';
        font-size: 14px;
        line-height: 16px;
        opacity: 0.7218;
    }
    .catalog li:first-child {
        width: 372px;
        flex-basis: 372px;
        /* flex-grow: 1; */
    }
    .catalog li:nth-child(2) {
        width: 80px;
        flex-basis: 80px;
        /* flex-grow: 1; */
    }
    .catalog li:last-child {
        width: 220px;
        flex-basis: 220px;

    }
    .last-li {
        width: 85px;
        /* flex-grow: 1; */
    }
    .catalog__last-block {
        align-items: center;
        margin-left: auto;
        width: 220px;
    }
    .price__wrapper {
        height: 64px;
        justify-content: center;
    }
    .price__swiper-slide {
        width: auto!important;
        margin: 0;
    }
    .brands__arrow, .repair__arrow {
        background-image: url('../img/expand.svg');
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 0% 0%;
        width: 24px;
        height: 24px;
        transition-property: transform;
        transition-duration: 0.6s;
        transition-timing-function: ease-out;
    }
    .transform {
        /* transform: rotate(-180deg); */
        transform: scaleY(-1);
    }
    .commerce {
        width: auto;
    }
    .pre-commerce {
        width: 421px;
    }
    .price__swiper-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 1px;
        /* height: 324px; */
    }
    .price__wrapper {
        width: -webkit-fill-available;
        padding: 23px 16px;
        width: -moz-available;
    }

    .footer {
        flex-direction: row;
        padding: 32px 24px 25px;
    }
    .footer__text {
        flex-basis: 218px;
        flex-grow: 1;
    }
    .footer__text:first-child {
        text-align: left;
    }
    .footer__text:last-child {
        text-align: right;
    }
}
@media (min-width: 1120px) {
    .repair__swiper-wrapper {
        gap: 16px 32px;
    }
    .repair__swiper-slide {
        width: 240px!important;
    }
    .brands__swiper-wrapper::after {
        width: 240px;
    }
    .brands__swiper-slide {
        width: 240px!important;
    }
}
@media (min-width: 1440px) {
    .body__content {
        /* display: inline-block; */
    }
    .body {
        display: flex;
    }
    .body__container {
        margin: 0;
        width: auto;
    }
    .swiper-container {
        padding: 24px 32px;
    }
    .price__wrapper {
        justify-content: space-between;
        padding: 16px 24px;
        height: auto;
    }
    .price__catalog {
        justify-content: space-between;
    }
    .catalog__last-block {
        margin-left: 0;
    }

    .brands__swiper-wrapper--fixes-size {
        height: 150px;
    }
    .pre-commerce {
        padding-left: 32px;;
        padding-right: 32px;
    }
    .body__content--opacity {
        opacity: 0.04;
    }
}
